.section-gallery {
    padding: 2rem 0 ;
    background-color: #fff;
}

.grid-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: repeat(2, 20rem);
    padding: 10px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 50px;
    font-size: 30px;
    text-align: center;

    &__1 {
        background-image:linear-gradient(
            to right bottom,
            rgba(#55c57a, 0.4),
            rgba(#28b485, 0.4)), 
         url(../../../images/farm.jpg);
        background-size: cover;  /* background cover takes over the width of view port */   
        background-position: top;
    }
    &__2 {
        background-image:
        linear-gradient(
            to right bottom,
            rgba(#55c57a, 0.4),
            rgba(#28b485, 0.4)), 
         url(../../../images/Farm2.jpg);
        background-size: cover;  /* background cover takes over the width of view port */   
        background-position: top;
    }
    &__3 {
        background-image:
        linear-gradient(
            to right bottom,
            rgba(#55c57a, 0.4),
            rgba(#28b485, 0.4)), 
         url(../../../images/Farm3.jpg);
        background-size: cover;  /* background cover takes over the width of view port */   
        background-position: top;
    }
    &__4 {
        background-image:
        linear-gradient(
            to right bottom,
            rgba(#55c57a, 0.4),
            rgba(#28b485, 0.4)), 
         url(../../../images/Farm3.jpg);
        background-size: cover;  /* background cover takes over the width of view port */   
        background-position: top;
    }
    &__5 {
        background-image:
        linear-gradient(
            to right bottom,
            rgba(#55c57a, 0.4),
            rgba(#28b485, 0.4)), 
         url(../../../images/Farm2.jpg);
        background-size: cover;  /* background cover takes over the width of view port */   
        background-position: top;
    }
    &__6 {
        background-image:
        linear-gradient(
            to right bottom,
            rgba(#55c57a, 0.4),
            rgba(#28b485, 0.4)), 
         url(../../../images/farm.jpg);
        background-size: cover;  /* background cover takes over the width of view port */   
        background-position: top;
    }
    &__7 {
        background-image:
        linear-gradient(
            to right bottom,
            rgba(#55c57a, 0.4),
            rgba(#28b485, 0.4)), 
         url(../../../images/farm.jpg);
        background-size: cover;  /* background cover takes over the width of view port */   
        background-position: top;
    }
    &__8 {
        background-image:
        linear-gradient(
            to right bottom,
            rgba(#55c57a, 0.4),
            rgba(#28b485, 0.4)), 
         url(../../../images/Farm2.jpg);
        background-size: cover;  /* background cover takes over the width of view port */   
        background-position: top;
    }
}

.gallery {
    text-align: center;
    
    &__title {
        text-align: center;
    }
}