// header section

/* formatting the header element */
.header {    
    height: 95vh; /* vh meaning viewport Height so 95 of default view height of the screen */   
    background-image:linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.801),
        rgba($color-primary-dark, 0.808)), 
        url(../../../images/farm.jpg);   
    background-size: cover;  /* background cover takes over the width of view port */   
    background-position: top; /* we can specify the position to top, bottom, center wch sticks to tht postion no matter the size of screen*/
    /* using clip-path to cut part of image */
    clip-path: polygon(0 0, 100% 0, 100% 75vh,  0 100%);
    /* parent position which is relative */
    position: relative;
    // to fit clip path on different browsers
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh,  0 100%);

    // nesting the elements
    /* styling the logo */
    &__logo-box {
        /* use absolute positioning */
        position: absolute;
        top:4rem;
        left:4rem;
        /* we need to have a refrence to count 40px top and left from. we get it from header, so the header part is placed to position relative to logo-box */
    }

    &__logo {
        height:3.5rem;
    }
    
    /* styling the heading primary */
    
    &__text-box {
        /* centering the box in the middle */
        position: absolute;
        top: 40%;
        left: 50%;
        /* we use the transform property of css to place the text at the center of browser*/
        transform: translate(-50%, -50%);
        /* aligning the btn to center  */
        text-align: center;
    }
}

.heading-primary {
    color: #fff;
    text-transform: uppercase;
    /* to remove the shake upwards in animation */
    backface-visibility: hidden;
    /* to increase bottom margin to button */
    margin-bottom: 6rem;
    // performing nesting
    
    &--main {
        /* display them as block elements to separate the two span elements */
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 1.5rem;
        /* specify the name of animation in the text to be moved */
        animation-name: moveInLeft;
        animation-duration: 1s;
        animation-timing-function: ease-out;    
        /* animation-delay: 3s; */
        /* animation-iteration-count: 3; */
    
    }
    &--sub {
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 2.1rem;
        animation: moveInRight 1s ease-out;
    }
}

// h2 for the about section
.heading-secondary {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    // making the h2 text green
    display: inline-block;    
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    // we set the color to transparent
    color:transparent;
    letter-spacing: .2rem;
    transition:all .2s;

    // performing hover effect
    &:hover {
        // we perform transform to perform multiple things. we can skew in the x-direction and y-direction
        transform: skewY(2deg) skewX(2deg) scale(1.1);
        // text decoration beneath in the x and y direction
        text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
;    }
}
.heading-tetiary {
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
}

.paragraph {
    font-size:1.6rem;
    // to remove space in the last part of the paragraph
    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}