.section-footerContact {
    background-color: rgba(34, 89, 1, 1);
   color: #fff;
}

.FooterContact {

    &__part1 {
        padding: 12rem;
    }

    &__part2 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 1rem;
        padding: 4rem;
        border-top: 4px solid #fff;
    }

    &__about {
        color: #fff;
    }
}

