.section-objective {
    background-color:rgba(146, 205, 40, 0.21)  ;
    padding: 3rem 0 38rem 0;
}

.objective__root {
    height: '360';
    width: '360';
    background: 'rgba(255, 255, 255, 0.75)';
    border-radius: 5;

    &__content {

    }
}