.section-objective {
    background-color:rgba(146, 205, 40, 0.21)  ;
    padding: 3rem 0 30rem 0;
}

.css-b6lsxj-MuiButtonBase-root-MuiCardActionArea-root {
    padding: 1.5rem !important;
}
.css-46bh2p-MuiCardContent-root {
    padding: 2px !important;
    height: 8rem;
}